.container
  .row
    .col-12
      -#%hr
      %h1.text-center.poppins.my-4 Shakespeare 70
      -#%hr

.container.text-center.mt-4
  .row
    .col-10.offset-1.col-md-4.offset-1
      = link_to @richard do
        = image_tag @richard.poster, class: 'img-fluid elevation-2', alt: "#{@richard.title} Poster"
    .col-10.offset-1.col-md-4.offset-1.align-self-center
      %h2.h3.poppins Up Next:
      %strong.h5 Richard III
      .row.mt-4
        .col-12
          = button_tag 'Purchase Tickets',
                       class: 'btn btn-danger mb-2 white',
                       id: 'purchase-tix-btn',
                       style: 'cursor:pointer; color:red;',
                       'data-toggle': 'modal',
                       'data-target': '#price-warning-modal'

= render partial: 'productions/price_warning_modal'
