.container
  .row
    .col-12
      %hr
      %h1.text-center.ruslan Shakespeare '70
      %hr

.container.text-center
  .row
    .col-10.offset-1
      %p= welcome_text1
    .col-12
      %hr
    .col-8.offset-2.text-center
      .h5
        Shakespeare '70 is thrilled to announce its cast for
        %em Macbeth,
        coming to the Kelsey Theatre this June 21st - 30th!
  .d-flex.flex-col.justify-content-around
    = link_to @macbeth, class: 'production-pill' do
      =image_tag @macbeth.poster, class: 'img-fluid rounded-1r shadow-2',
                                  style: 'max-width: 300px;',
                                  alt: "#{@macbeth.title} Poster"


  .row
    .col-12
      %hr
    .col-10.offset-1
      %p= welcome_text2
  .row
    .col-12.col-md-5
      = image_tag 'productions/clybourne_park/what.jpg',
                  class: 'img-fluid rounded-1r mt-2 mb-2'
    .col-4.offset-4.col-md-2.offset-md-0.production-pill
      = link_to @clybourne do
        =image_tag @clybourne.poster, class: 'img-fluid rounded-1r my-4',
                                      alt: "#{@clybourne.title} Poster"
    .col-12.col-md-5
      = image_tag 'productions/clybourne_park/now_wait.jpg',
                  class: 'img-fluid rounded-1r mt-2 mb-2'
    .col-12
      %hr
