.container-fluid.bg-welcome-img
  .row
    .col-12
      %hr
      %h1#welcome-title.text-center.ruslan.deep-grey.m-0.px-2 Shakespeare '70
      %hr

  .row.text-center
    .col-8.offset-2
      .h5.inline-block
        Shakespeare '70 is thrilled to announce its cast for
        %em Macbeth,
        coming to the Kelsey Theatre this June 21st - 30th!
    .col-12
      .d-flex.flex-col.justify-content-around.mt-4
        = link_to @macbeth, class: 'production-pill' do
          = image_tag @macbeth.poster, class: 'img-fluid elevation-4',
                                       style: 'max-width: 50%;',
                                       alt: "#{@macbeth.title} Poster"

.container
  .row
    .col-12
      %hr
    .col-10.offset-1
      %p= welcome_text2
  .row
    .col-12.col-md-5
      = image_tag 'productions/clybourne_park/what.jpg',
                  class: 'img-fluid rounded-1r elevation-4 mt-2 mb-2'
    .col-4.offset-4.col-md-2.offset-md-0.production-pill
      = link_to @clybourne do
        = image_tag @clybourne.poster, class: 'img-fluid elevation-4 rounded-1r my-4',
                                       alt: "#{@clybourne.title} Poster"
    .col-12.col-md-5
      = image_tag 'productions/clybourne_park/now_wait.jpg',
                  class: 'img-fluid rounded-1r elevation-4 mt-2 mb-2'
    .col-12
      %hr
