.d-flex.justify-content-between{ 'aria-hidden': true }
  = lightbulb_icon(155)
  = lightbulb_icon(180)
  = lightbulb_icon(180)
  = lightbulb_icon(180)
  = lightbulb_icon(205)
%ul.cast-list.mt-3.p-0
  - production.cast_list.each do |casting|
    %li
      .container-fluid
        .row
          .col-6.text-right #{casting.role}
          .col-6.text-left.member-link= link_to casting.member.name, casting.member

%ul.cast-list.mt-3.p-0
  - production.pro_staff.each do |casting|
    %li
      .container-fluid
        .row
          .col-6.text-right #{casting.position.description}
          .col-6.text-left.member-link= link_to casting.member.name, casting.member