%h1 Listing productions

%table
  %thead
    %tr
      %th Title
      %th Start date
      %th End date
      %th
      %th
      %th

  %tbody
    - @productions.each do |production|
      %tr
        %td= production.title
        %td= production.start_date
        %td= production.end_date
        %td= link_to 'Show', production
        %td= link_to 'Edit', edit_production_path(production)
        %td= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Production', new_production_path
