
.text-center.mt-3.mb-3.permanent-marker
  %h1= @production.title

.container-fluid
  .row
    .col-12.col-sm-6.text-center.mb-2
      - if @production.start_date && @production.end_date
        = render partial: 'purchase_details', locals: { production: @production }
      = render partial: 'cast_list', locals: { production: @production }
    .col-10.offset-1.col-sm-6.offset-sm-0.mb-2
      = image_tag @production.poster, class: 'img-fluid', alt: "#{@production.title} Poster"