- content_for :title, "#{@member.name} | "

.container#member-show-container
  .row.justify-content-sm-center
    .col-sm-11
      .row.justify-content-sm-center
        .col-sm-10.offset-sm-1.col-lg-6.offset-lg-0
          =image_tag @member.photo_url, class: 'card-img-top',
                                alt: "#{@member.name} Headshot",
                                style: 'width:400px'
          %h1.permanent-marker.card-title.text-right
            = '- ' + @member.name
          %p.text-center= @member.title
        .col-sm-12.col-lg-6
          %p.poppins.card-text.text-center= @member.bio.html_safe
          %h5.permanent-marker.text-center This Season
          %ul
            - @member.castings.this_season.each do |casting|
              %li
                %p
                  %strong #{casting.production.title}:
                  = casting.role
          %h5.permanent-marker.text-center With S'70
          %ul
            - @member.castings.with_s70.each do |casting|
              %li
                %p
                  %strong #{casting.production.title}:
                  = casting.role
          %h5.permanent-marker.text-center Other Companies
          %ul
            - @member.castings.with_others.each do |casting|
              %li
                %p
                  %strong #{casting.production.title}:
                  = casting.role


%nav
  = link_to 'Edit', edit_member_path(@member)
  \|
  = link_to 'Back', members_path
  \|
  = link_to 'Add a Role', new_member_casting_path(member_id: @member.id)