- content_for :title, "#{@member.name} | "

.container#member-show-container
  .row.justify-content-sm-center
    .col-sm-10.offset-sm-1.col-md-5.offset-md-0
      =image_tag @member.photo_url, class: 'img-fluid rounded-2r img-thumbnail',
                            alt: "#{@member.name} Headshot"
      %h1.permanent-marker.card-title.text-right
        = '- ' + @member.name
      %p.mb-1.permanent-marker.text-right= @member.title
      - if @member.ex_comm?
        %p.permanent-marker.text-right Executive Committee
    .col-sm-12.col-md-7
      %p.deep-grey.card-text.text-center= @member.bio&.html_safe
      = render partial: 'bio_credits', locals: { member: @member }
